* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: hsl(0, 0%, 17%);
  color: hsl(0, 0%, 17%);
}

.header {
  background: url('images/pattern-bg-desktop.png') no-repeat center/cover;
  text-align: center;
  padding: 2rem 1rem 5rem;
  color: white;
}

.header h1 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto 3rem;
  padding-top: 1rem;
}

.search-form input {
  width: 80%;
  padding: 1rem;
  border: none;
  border-radius: 12px 0 0 12px;
  font-size: 18px;
}

.search-btn {
  background: hsl(0, 0%, 17%);
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  padding: 0 1rem;
}

.search-btn img {
  width: 14px;
  height: 14px;
}

.info-card {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  text-align: center;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 1000px;
  margin: -4rem auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  gap: 1rem;
  position: relative;
  z-index: 10;
}

.info-card h4 {
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 0.3rem;
}

.info-card p {
  color: hsl(0, 0%, 17%);
  font-weight: 500;
  font-size: 1.1rem;
}

#map {
  height: 500px;
  width: 100%;
  z-index: 1;
}


@media (max-width: 600px) {
  .header {
    padding: 1.5rem 1rem 9.5rem;
  }

  .info-card {
    grid-template-columns: 1fr;
    text-align: center;
    margin: -8rem 1rem ;
  }

  #map{
    height: 700px;
    width: 100%;
    z-index: 1;
  }
}
